<h1>Brevity Box Feed</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Captions</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td><%= box.link %></td>
        <td><%= box.captions %></td>
        <td><%= box.user_id %></td>
        <td><%= link_to 'Show', box %></td>
        <td><%= link_to 'Edit', edit_box_path(box) %></td>
        <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_box_path %>
<%= link_to 'New User', new_user_path %>
